.App {
  background-color: white;
  width: 100vw;
  padding: 0px;
  margin: 5px;
}

/* Add scroll to cards*/

.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  border: 10px solid #ffe4c0;
}

.landing-page-items {
  text-align: center;
  height: auto;
  width: 50vw;
  border: 2px solid black;
  padding: 10px;
  background-color: #ffe4c0;
  box-shadow: 10px 10px antiquewhite;
  transition: transform 0.2s;
}

.landing-page-items:hover {
  transform: scale(1.2);
}

.browse-btn {
  color: black;
  background-color: white;
  border: 2px solid antiquewhite;
  transition-duration: 0.4s;
}

.browse-btn:hover {
  color: white;
  background-color: black;
  border: 2px solid antiquewhite;
}
.browse-btn:focus {
  color: white;
  background-color: #ffe4c0;
  border: 2px solid #ffe4c0;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 2px;
}

.navbar .wishlist {
  font-size: 2rem;
  margin-right: 20px;
  background-color: antiquewhite;
}

.navbar .wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px;
  padding: 5px;
  background-color: antiquewhite;
}

.navbar .wishlist-container #wishlist-number {
  color: white;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  width: 25px;
}
.navbar .cart {
  font-size: 2rem;
  margin-right: 20px;
  background-color: antiquewhite;
}

.navbar .cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px;
  padding: 5px;
  background-color: antiquewhite;
}

.navbar .cart-container #cart-number {
  color: white;
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  width: 25px;
}

.d-flex .search-button {
  color: black;
  background-color: white;
  border: 2px solid antiquewhite;
  transition-duration: 0.4s;
}

.d-flex .search-button:hover {
  color: white;
  background-color: antiquewhite;
  border: 2px solid antiquewhite;
}

.categories .me-auto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: antiquewhite;
  height: fit-content;
  width: 100vw;
}

.categories .me-auto .nav-dropdown {
  background-color: antiquewhite;
}

.logo {
  height: 70px;
}

.heading {
  font-size: larger;
  margin: 20px 0px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px, 0px 0px 0px;
  flex-wrap: wrap;
  padding: 0px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s;
  align-items: center;
  box-shadow: 5px 5px antiquewhite;
  background-color: white;
  border: 2px solid black;
  width: 30%;
  margin: 10px;
  padding: 10px;
}

.product-card h4 {
  text-align: center;
  height: max-content;
}

.product-card h6 {
  text-align: center;
}

.product-card:hover {
  display: flex;
  transform: scale(1.2);
}

.product-card2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: transform 0.2s;
  align-items: center;
  box-shadow: 5px 5px antiquewhite;
  background-color: white;
  border: 2px solid black;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.product-card2-info {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.product-card2-image {
  aspect-ratio: 1/1;
  object-fit: contain;
  display: flex;
  justify-content: left;
  width: auto;
  height: 120px;
  margin: 2px  20% 2px 2px;
}

.price-container h4{
  margin-top: 20px;
  text-align: center;
}
.image {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: auto;
  height: 120px;
  margin: 2px auto;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.button-container2 {
  justify-content: left;
}

.button {
  color: black;
  background-color: white;
  border: 2px solid antiquewhite;
  transition-duration: 0.4s;
}

.button:hover {
  color: white;
  background-color: antiquewhite;
  border: 2px solid antiquewhite;
}

.button:focus {
  color: white;
  background-color: #ffe4c0;
  border: 2px solid #ffe4c0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid antiquewhite 2px;
  margin: 20px 5% 0px 5%;
  bottom: 0px;
}

.footer a {
  color: grey;
  text-decoration: none;
}
